{% extends "layout.html" %}

{% block content %}
</br>
<div class="content" style="text-align: center">

    <div class="form">
        <form action="/xxs" method="POST">
          <input type="text" name="content" id="content" />
          <input class="btn btn-primary" type="submit" value="Add Task" />
        </form>
        <form action="/xxs/delete" method="POST">
            <input class="btn btn-danger" type="submit" value="Reset" />
          </form>
      </div>

  <h1 style="text-align: center">Task List</h1>
  {% if tasks|length < 1 %}
  <h4 style="text-align: center">There are no tasks. Create one</h4>
  {% else %}
  <table class="table">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Added</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.content|safe }}</td>
      <td>{{ task.date_created.date() }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

 
</div>
{% endblock %}