/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 0px;
}


/* CUSTOMIZE THE umaNAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .umanavbar, used for positioning it into place. */
.umanavbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.umanavbar-wrapper>.container {
  padding-right: 0;
  padding-left: 0;
}

.umanavbar-wrapper .umanavbar {
  padding-right: 15px;
  padding-left: 15px;
}

.umanavbar-wrapper .umanavbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-indicators {
  bottom: 0px !important;
}

.carousel .img-responsive {
  margin: 0 auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* umaNavbar positioning foo */
  .umanavbar-wrapper {
    margin-top: 20px;
  }

  .umanavbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .umanavbar-wrapper .umanavbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The umanavbar becomes detached from the top, so we round the corners */
  .umanavbar-wrapper .umanavbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* CAROUSEL FADE
-------------------------------------------------- */

/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d),
(-webkit-transform-3d) {

  .carousel-fade .carousel-inner>.item.next,
  .carousel-fade .carousel-inner>.item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner>.item.prev,
  .carousel-fade .carousel-inner>.item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner>.item.next.left,
  .carousel-fade .carousel-inner>.item.prev.right,
  .carousel-fade .carousel-inner>.item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Multi item carousel */
/* https://github.com/rtpHarry/Bootstrap3-ShowManySlideOneCarousel*/
.carousel-showfourmoveone .carousel-control {
  width: 2%;
  background-image: none;
}

.carousel-showfourmoveone .cloneditem-1,
.carousel-showfourmoveone .cloneditem-2,
.carousel-showfourmoveone .cloneditem-3 {
  display: none;
}

@media all and (min-width: 768px) {

  .carousel-showfourmoveone .carousel-inner>.active.left,
  .carousel-showfourmoveone .carousel-inner>.prev {
    left: -50%;
  }

  .carousel-showfourmoveone .carousel-inner>.active.right,
  .carousel-showfourmoveone .carousel-inner>.next {
    left: 50%;
  }

  .carousel-showfourmoveone .carousel-inner>.left,
  .carousel-showfourmoveone .carousel-inner>.prev.right,
  .carousel-showfourmoveone .carousel-inner>.active {
    left: 0;
  }

  .carousel-showfourmoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {

  .carousel-showfourmoveone .carousel-inner>.item.active.right,
  .carousel-showfourmoveone .carousel-inner>.item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }

  .carousel-showfourmoveone .carousel-inner>.item.active.left,
  .carousel-showfourmoveone .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }

  .carousel-showfourmoveone .carousel-inner>.item.left,
  .carousel-showfourmoveone .carousel-inner>.item.prev.right,
  .carousel-showfourmoveone .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@media all and (min-width: 992px) {

  .carousel-showfourmoveone .carousel-inner>.active.left,
  .carousel-showfourmoveone .carousel-inner>.prev {
    left: -25%;
  }

  .carousel-showfourmoveone .carousel-inner>.active.right,
  .carousel-showfourmoveone .carousel-inner>.next {
    left: 25%;
  }

  .carousel-showfourmoveone .carousel-inner>.left,
  .carousel-showfourmoveone .carousel-inner>.prev.right,
  .carousel-showfourmoveone .carousel-inner>.active {
    left: 0;
  }

  .carousel-showfourmoveone .carousel-inner .cloneditem-2,
  .carousel-showfourmoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {

  .carousel-showfourmoveone .carousel-inner>.item.active.right,
  .carousel-showfourmoveone .carousel-inner>.item.next {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
    left: 0;
  }

  .carousel-showfourmoveone .carousel-inner>.item.active.left,
  .carousel-showfourmoveone .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    left: 0;
  }

  .carousel-showfourmoveone .carousel-inner>.item.left,
  .carousel-showfourmoveone .carousel-inner>.item.prev.right,
  .carousel-showfourmoveone .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}