{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Connected chargers</h1>
      <p class="lead">Select a charger to start operations</p>
    </div>
  </div>
  <hr class="hr hr-blurry" />
  <div class="row">
    {% for item in items %}
    <div class="col-md-3">
      <div class="card mb-3 box-shadow  text-white {{ item.color }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.reverse_status }}</p>
          <a href="{{ item.url }}" class="btn btn-light ml-auto">{{ item.button_text }}</a>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}