<!doctype html>

<head>
    <title>
        e-Quijote
    </title>
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/USw1moY.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<html>

<body>
    {% include 'nav.html' %}
    <div style="margin-left: 15px; margin-top: 15px;">
        {% block content %}
    </div>
    {% endblock %}
</body>

</html>