<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">
    <img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    e-Quijote
  </span>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Chargers</a>
      <!-- <a class="nav-item nav-link" href="/injection">Reservar</a>
      <!-- Login con usuario y contraseña por defecto admin/admin y mysql injection (meter en contraseña OR 1=1) -->
      <!-- <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/ssti?user=0">Server-Side Template Injection</a>
      <a class="nav-item nav-link" href="/ping">Ping</a>
      <a class="nav-item nav-link" href="/xxs">XXS</a> -->
    </div>
  </div>
</nav>