{% extends "uma/main.html" %}

{% block content %}

<!-- <section class="container">
    <h1></h1>
    <h3 class="pt-4 pb-2">Connector {{args.connector}}</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert" style="margin-left:auto;margin-right:auto;">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <table style="margin-left:auto;margin-right:auto;">
        <tr>


        </tr>
    </table>


</section> -->



<section class="vh-10 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <form
                                action="{{ url_for('reserve') }}?id={{ args.charger_id }}&connector={{ args.connector }}"
                                method="post">
                                <h2 class="fw-bold mb-2 text-uppercase">Reserve charger</h2>
                                <p class="text-white-50 mb-5">Connector {{args.connector}}</p>
                                <td>{{ form.tp(class='timepicker') }} </td>
                                <td>{{ form.dt(class='datepicker') }} </td>
                                <td><input class="btn btn-primary" type="submit" value="Make reservation" /></td>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}