{% extends "uma/main.html" %}

{% block content %}
</br>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Trigger Message</h1>

        </div>
    </div>

    <hr class="hr hr-blurry" />


    <div class="content" style="text-align: center">

        <div class="container py-2 h-100 px-1000">
            <div class="form-group mb-2">
                <div class="form-group mx-sm-3 mb-2">

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-success" role="alert">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <form action="/trigger?id={{charger.id}}" method="POST">
                        <div class="input-group mb-3 ">


                            <div class="input-group-prepend ps-3">
                                <label class="input-group-text" for="inputGroupSelect01">Type</label>
                            </div>
                            <select class="custom-select" name="inputType" id="inputType">
                                <option value="BootNotification">BootNotification</option>
                                <option value="FirmwareStatusNotification">FirmwareStatusNotification</option>
                                <option value="Heartbeat">Heartbeat</option>
                                <option value="StatusNotification">StatusNotification</option>
                                <option value="TransactionEvent">TransactionEvent</option>
                            </select>


                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <hr class="hr hr-blurry" />


    </div>
    {% endblock %}