<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <meta http-equiv="content-language" content="en">


    <title>Home - University of Malaga</title>



    <meta name="keywords" content="uma, universidad de málaga" />

    <meta name="description" content="" />

    <link rel="apple-touch-icon" sizes="57x57" href="static/themes/uma2016/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/themes/uma2016/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/themes/uma2016/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/themes/uma2016/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/themes/uma2016/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/themes/uma2016/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/themes/uma2016/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/themes/uma2016/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/themes/uma2016/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
        href="static/themes/uma2016/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/themes/uma2016/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/themes/uma2016/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/themes/uma2016/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/themes/uma2016/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/themes/uma2016/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">







    <link rel="alternate" type="application/rss+xml" title="&lt;UMA RSS, Single&gt;" href="rss/feed/index.html" />

    <link href="static/merengue/css/style.css" rel="stylesheet" media="all" type="text/css" />
    <link href="static/merengue/js/jquery-notify/ui.notify.css" rel="stylesheet" media="all" type="text/css" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />

    <link href="static/themes/uma2016/css/layout_uma.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/themes/uma2016/css/inplaceedit.css" rel="stylesheet" type="text/css" />
    <link href="static/themes/uma2016/css/jumbotron.css" rel="stylesheet">
    <link href="static/themes/uma2016/css/carousel.css" rel="stylesheet">
    <link href="static/themes/uma2016/css/responsive-calendar.css" rel="stylesheet" media="screen">
    <link href="static/themes/uma2016/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/themes/uma2016/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">
    <link href="static/themes/uma2016/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/themes/uma2016/css/estilos_uma.css" rel="stylesheet" type="text/css">
    <link href="static/themes/uma2016/css/ie10-viewport-bug-workaround.css" rel="stylesheet" type="text/css">

    <style type="text/css">
    </style>

    <link href="static/merengue/css/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="static/merengue/css/shadowbox.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="static/merengue/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="static/merengue/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="static/merengue/js/shadowbox/shadowbox-jquery.js"></script>
    <script type="text/javascript" src="static/merengue/js/shadowbox/shadowbox.js"></script>
    <script type="text/javascript" src="static/themes/uma2016/js/jquery.rotatebanner.js"></script>

    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $("#content-zone img[width]:visible").each(function (index, image) {
                    var pWidth = jQuery(image).parent().width();
                    if (jQuery(image).width() > pWidth) {
                        $(image).removeAttr("height");
                        $(image).attr("width", pWidth);
                    }
                });
            });
        })(jQuery);
    </script>


    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <noscript>
        <style type="text/css">
            #rightbar {
                z-index: 99;
                position: relative;
            }

            #rightbar * {
                z-index: 100;
                position: relative;
            }
        </style>
    </noscript>
    <style type="text/css">
        #sidebar {
            display: inline-block;
        }
    </style>



    <style>
        body {
            background: #FFF;
        }

        footer p {
            text-align: center;
        }
    </style>
</head>

<body dir="ltr" id="home">

    <nav class="navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 col-xs-10">
                    <div class="logo-uma">
                        <a class="" href="index.html">
                            <img class="img-responsive" src="static/themes/uma2016/images/UMA_logo.png"
                                alt="Universidad de Málaga" />

                        </a>
                    </div>
                </div>
                <div class="visible-xs col-xs-2">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Menú</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden-md hidden-sm" style="padding-right:5px;padding-right:20px;"><a
                                    href="https://sede.uma.es/"
                                    style="padding:0px;margin-top:21px;padding-right:10px;"><img class="img-responsive"
                                        src="static/themes/uma2016/images/logo-sede-electronica.png"
                                        alt="Sede Electrónica" style="height:17px;" /></a></li>
                            <li class="hidden-md hidden-sm hidden-xs hidden-xxxl" style="padding-right:5px;"><a
                                    href="international-hub/index.html" style="padding:0px;margin-top:0px;"><span
                                        style="color:#0099cc; display:inline-flex; margin-top: 10px; padding:10px 0; font-weight:bold;">WELCOME</span><span
                                        style="color:#666666; display:inline-flex; margin-top: 10px; padding:10px 0;">TO</span><span
                                        style="color:#003366; display:inline-flex; margin-top: 10px; padding:10px 0; font-weight:bold;">UMA</span></a>
                            </li>
                            <!--<li class="dropdown">
                            <a href="https://duma.uma.es/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Directorio<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>-->
                            <div class="clearfix visible-sm-block"></div>
                            <li class="dropdown hidden-sm">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Contacta<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="servicio-comunicacion/info/108792/solicitudes-a-servicios/index.html">Solicitudes
                                            a Servicios</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Directorio</li>
                                    <li><a href="https://duma.uma.es/duma/buscador/persona/">Buscador de personal</a>
                                    </li>
                                    <li><a href="https://duma.uma.es/duma/buscador/guiauma/">Buscador por estructura</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Redes sociales</li>
                                    <li><a href="http://twitter.com/infouma">Twitter</a></li>
                                    <li><a
                                            href="http://www.facebook.com/pages/Universidad-de-Malaga/361425208192">Facebook</a>
                                    </li>
                                    <li><a href="https://instagram.com/infouma">Instagram</a></li>
                                    <li><a href="http://www.youtube.com/user/UniversidadMalaga">Youtube</a></li>
                                    <li class="divider"></li>
                                    <li><a href="calidad/cms/menu/quejas-sugerencias-y-felicitaciones/index.html">Quejas
                                            y sugerencias</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"
                                        aria-hidden="true"></span> Iniciar sesión &nbsp;&nbsp;<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li><a href="accounts/login/index9015.html?next=/escritorio/">Iniciar sesión</a>
                                    </li>
                                    <li><a href="https://duma.uma.es/acceso/" title="Activar cuenta">Activar mi
                                            cuenta</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </div>
        </div>
    </nav>

    <!-- Menu redes sociales ================================================== -->
    <div class="slide-bottom-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <ul class="list-inline redes-sociales">
                        <li><a href="http://www.facebook.com/universidadmalaga" tilte="Facebook"><img id="logo_facebook"
                                    src="static/themes/uma2016/images/logo-facebook.jpg"></a></li>
                        <li><a href="http://twitter.com/infouma" tilte="Twitter"><img id="logo_twitter"
                                    src="static/themes/uma2016/images/logo-twitter.jpg"></a></li>
                        <li><a href="https://instagram.com/infouma" tilte="Instagram"><img id="logo_instagram"
                                    src="static/themes/uma2016/images/logo-instagram.jpg"></a></li>
                        <li><a href="http://www.youtube.com/user/UniversidadMalaga" tilte="Youtube"><img
                                    id="logo_youtube" src="static/themes/uma2016/images/logo-youtube.jpg"></a></li>
                        <li><a href="https://www.linkedin.com/company/universidad-de-malaga" tilte="LinkedIn"><img
                                    id="logo_linkedin" src="static/themes/uma2016/images/logo-linkedin.png"></a></li>
                        <li><a href="https://www.tiktok.com/@infouma" tilte="TikTok"><img id="logo_tiktok"
                                    src="static/themes/uma2016/images/logo-tiktok.png"></a></li>
                    </ul>
                </div>

            </div> <!-- End row -->
        </div>
    </div> <!-- End menu redes -->


    <div class="container-fluid">




        <!-- AQUI LO MIO -->


    </div>

    <footer>


        <div class="blockContainer blocks False">
            <span class="blockContainerPlace">Footer</span>
            <div class="blockWrapper">
            </div>
            <div class="blockWrapper">
                <div id="portal-footer-links" class="footerBlock block blockGlobal   ">


                    <span class="blockHiddenTitle">Portal links</span>
                    <div class="blockBody">




                        <a href="http://www.uma.es/sala-de-prensa/noticias/la-uma-recibe-el-sello-intermacional-de-universidad-emprendedora-que-otorga-aceeu/"
                            title="sello ACEEU">
                            <img class="logo_footer" src="media/links/image_189.jpg" alt="sello ACEEU"
                                title="sello ACEEU" /></a>





                        <a href="http://www.bequal.es/" title="B-EQUAL 2020">
                            <img class="logo_footer" src="media/links/image_188.jpg" alt="B-EQUAL 2020"
                                title="B-EQUAL 2020" /></a>





                        <a href="http://www.uma.es/sala-de-prensa/noticias/la-universidad-de-malaga-primera-espanola-en-cuanto-compromiso-con-los-ods-de-naciones-unidas/"
                            title="ODS-2">
                            <img class="logo_footer" src="media/links/image_191.jpg" alt="ODS-2" title="ODS-2" /></a>





                        <a href="http://www.universia.es/index.htm" title="UNIVERSIA">
                            <img class="logo_footer" src="media/links/image_157.jpg" alt="UNIVERSIA"
                                title="UNIVERSIA" /></a>





                        <a href="https://www.crue.org/" title="CRUE">
                            <img class="logo_footer" src="media/links/image_194.png" alt="CRUE" title="CRUE" /></a>





                        <a href="https://www.crue.org/2022/02/comunicado-de-condena-de-la-invasion-de-ucrania-por-parte-del-estado-ruso/"
                            title="CRUE UCRANIA">
                            <img class="logo_footer" src="media/links/image_193.png" alt="CRUE UCRANIA"
                                title="CRUE UCRANIA" /></a>





                        <a href="http://www.uma.es/sala-de-prensa/noticias/el-colegio-de-periodistas-de-andalucia-otorga-un-sello-de-calidad-al-servicio-de-comunicacion-de-la-uma/"
                            title="SELLO COMUNICACION RESPONSABLE">
                            <img class="logo_footer" src="media/links/image_197.jpg"
                                alt="SELLO COMUNICACION RESPONSABLE" title="SELLO COMUNICACION RESPONSABLE" /></a>





                        <a href="http://www.fguma.es/" title="fguma nuevo">
                            <img class="logo_footer" src="media/links/image_164.png" alt="fguma nuevo"
                                title="fguma nuevo" /></a>





                        <a href="http://www.sga.uma.es/" title="ISO 14001">
                            <img class="logo_footer" src="media/links/image_138.jpg" alt="ISO 14001"
                                title="ISO 14001" /></a>





                        <a href="http://www.uma.es/sala-de-prensa/noticias/la-uma-obtiene-el-premio-la-excelencia-de-los-recursos-humanos-en-la-investigacion/"
                            title="HR SELLO">
                            <img class="logo_footer" src="media/links/image_190.jpg" alt="HR SELLO"
                                title="HR SELLO" /></a>




                    </div>

                    <input type="hidden" value="664" class="blockId" />

                </div>
            </div>
            <input type="hidden" class="blockPlace" value="footer">
            <input type="hidden" class="contentid" value="">
            <input type="hidden" class="sectionid" value="">
            <a style="display: none;" href="cms/bloques/ajax/add-block/index.html" class="add-block-in-container"
                title="Add new block">&nbsp;</a>
        </div>


        <p>Universidad de Málaga · Avda. Cervantes, 2. 29071 MÁLAGA · Tel. 952 13 13 13 · info@uma.es</p>
    </footer>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="static/themes/uma2016/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/themes/uma2016/js/ie10-viewport-bug-workaround.js"></script>

    <script src="static/themes/uma2016/js/jquery.oembed.js"></script>
    <script>
        $(document).ready(function () {
            $("div.video-embed").oembed();
        });
    </script>





    <script type="text/javascript" src="static/merengue/js/jquery-notify/src/jquery.notify.min.js"></script>
    <script type="text/javascript" src="static/merengue/js/multimedia/jquery.slideshow.js"></script>
    <script type="text/javascript" src="static/merengue/js/jquery.form.js" type="text/javascript"></script>
    <script type="text/javascript" src="static/merengue/js/css_browser_selector.js"></script>
    <script type="text/javascript" src="static/merengue/js/jquery.merengue-notifications.js"></script>

</body>


</html>